 <div class="row" style="width:50%; float:left;">
    <div id="google-map">
      <div id="map-canvas">
        <div class="vertical-align" align="center">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>
  </div>
</div>
