 <div class="row">
      <div class="col-md-12 google-map-container">
        <div id="google-map">
          <div id="map-canvas" width="600" height="400">
            <div class="vertical-align">
              <i class="fa fa-spinner fa-spin fa-5x"></i>
            </div>
          </div>
        </div>
      </div>
</div>
