<td><%= restaurant.name %></td> 
<td>Google: <%= restaurant.google_rating %></td> 
<td>Foursquare: <%= restaurant.foursquare_rating %></td>
<td>Yelp: <%= restaurant.yelp_rating %></td>
<td>Average: </td>

<% end %>

