<html>

  <head>
    <meta charset="UTF-8">
    <title>Eatablifyeratorly</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="assets/location_map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="jumbotron">
      <h1>Attack Of The Reviews</h1>
      <h3>More reviews than you can handle.</h3>
      <%= form_tag '/search' do |f| %>
        <div class="form-group">
          <%= text_field_tag('search[query]')%>
        </div>
        <% hidden_field_tag "lt" %> <!-- placeholder -->
        <% hidden_field_tag "lg" %> <!-- placeholder -->
        <h2><%= submit_tag "GET SEARCHING"%></h2>
      <% end %>
      <%= render "map" %>
    </div>
  </body>

</html>