<h1>Restauarants</h1>

<section class="main">
	<p>
	Name: 
	<% @restaurants.values.each do |restaurant| %>
		<% binding.pry %>
		<%= puts restaurant.name %>
		<%= puts restaurant.google_rating %>
		<%= puts restaurant.foursquare_rating %>
		<%= puts restaurant.yelp_rating %>
		<% end %>
	</p>

</section>
	



