// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.make-the-ten-less-sucky {
  left: 3px;
}

.make-the-fives-less-sucky {
  right: 3px;
}

.denominator {
  bottom:5px;
}
