// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.make-the-ten-less-sucky {
  right: 6px;
}

.make-the-fives-less-sucky {
  right: 8px;
}

.denominator {
  bottom: 5px;
}

#example-row > div > p:nth-child(2) {
  font-size: 16px;
}